# Legacy/Historical
legacy/
.old/

# Development/Claude
.claude/
.dev/
docs/to_claude/

# Dataset Download
**/*.log
**/*.session
**/*.torrent

# Dataset
**/*.jsonl.gz
**/*.json.gz
**/*.json.tar

# Database
**/*.db
**/*.db-*

# Python
**/*.env
**/*__pycache__
**/*.egg-info